.header-bg {
  background: #18232e;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-header {
  margin: 0 10px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 10px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.33;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #ea5313;
  margin-top: 2px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .container {
    margin: 0 10px;
  }
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: #223344;
    padding: 8px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: #404a53;
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 14px;
  }
}
